.bookmark-list  .group-title {
    display:flex;
    justify-content: initial;
    align-items: center;
    margin-top:10px;
    padding-top:16px;
}

.bookmark-list .group-title:first-child {
    padding-top:0 !important;
    margin-top:0 !important;
}


.bookmark-list .bookmark-url {
    color:#cccccc;
    font-size:0.85rem;
}

.bookmark-list .bookmark-name::first-letter,
.bookmark-list .bookmark-name::first-letter,
.bookmark-list  .group-title::first-letter {
    text-transform: capitalize;
}



.bookmark-delete-btn {
    transition:all .15s ease;
    color:#cccccc;
}

.bookmark-delete-btn:hover {
    color:#ff3939;
}


.noRecordsFound {
    text-align: center;
}